<h1><%= @user.pet_name %></h1>
<h3>user.id = <%= @user.id %></h3>


<h3>Your Dislikes:</h3>

<% @user.dislikes.each do |dislike| %>
  <%= dislike.dislikee.pet_name %><br>
  Dislikee ID: <%= dislike.dislikee_id %><br><br>
<% end %>

<h3>Who Dislikes You:</h3>

<% @user.inverse_dislikes.each do |dislike| %>
  <%= dislike.user.pet_name %><br>
  User ID: <%= dislike.user_id %><br><br>
<% end %>
