<h1><%= @user.pet_name %></h1>
<h3>user.id = <%= @user.id %></h3>


<h3>Your Likes:</h3>

<% @user.likes.each do |like| %>
  <%= like.likee.pet_name %><br>
  Likee ID: <%= like.likee_id %><br><br>
<% end %>

<h3>Who Likes You:</h3>

<% @user.inverse_likes.each do |like| %>
  <%= like.user.pet_name %><br>
  User ID: <%= like.user_id %><br><br>
<% end %>
