<div class="container">
  <h1><%= @user.pet_name %>'s Profile</h1>

  <%= @user.username %><br>
  <%= @user.email %><br>
  <%= @user.location %><br>
  <%= @user.pet_age %><br>
  <%= @user.pet_bio %><br>
  <% @user.pet_pic.each do |pic| %>
    <%= image_tag pic.variant(resize: "500x500") %><br>
  <% end %>

  <%= link_to "Edit Profile", "/users/#{@user.id}/edit" %>

</div>
