<%= form_for @user do |f| %>
  <%= f.submit "Dislike" %>
<% end %>

<%= form_for @like do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.hidden_field :likee_id, :value=> @random_user.id %>
  <%= f.submit "Like" %>
<% end %>

<h1><%= @random_user.pet_name %><br></h1>
<%= image_tag @random_user.pet_pic %>
