<%= @random_user.pet_name %></h3>
<% @random_user.pet_pic.each do |pic| %>
  <p><%= image_tag pic.variant(resize: "500x500") %></p>
<% end %>
<%= @random_user.pet_age %> - <%= @random_user.location %>
<%= @random_user.pet_bio %>

<%= form_for @dislike do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.hidden_field :dislikee_id, :value=> @random_user.id %>
  <%= f.submit "Dislike" %>
<% end %>

<%= form_for @like do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.hidden_field :likee_id, :value=> @random_user.id %>
  <%= f.submit "Like" %>
<% end %>
