<div class="card">
  <div class="card-body">
    <h3 class="card-header"><%= @random_user.pet_name %></h3>
    <% @random_user.pet_pic.each do |pic| %>
      <p><%= image_tag pic.variant(resize: "500x500") %></p>
    <% end %>
    <h6 class="card-subtitle mb-2 text-muted">
      <%= @random_user.pet_age %> - <%= @random_user.location %>
    </h6>
    <p class="card-text">
      <%= @random_user.pet_bio %>
    </p>
    <a href="#!" class="card-link">Card link</a>
    <a href="#!" class="card-link">Another link</a>
  </div>
</div>

ignore below

<button type="button" class="btn btn-danger">Dislike</button>

<%= form_for @dislike do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.hidden_field :dislikee_id, :value=> @random_user.id %>
  <%= f.submit "Dislike" %>
<% end %>

<%= form_for @like do |f| %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <%= f.hidden_field :likee_id, :value=> @random_user.id %>
  <%= f.submit "Like" %>
<% end %>
