<h2>Username: <%= @user.username %></h2>
Email: <%= @user.email %><br>
Location: <%= @user.location %><br>
Pet Name: <%= @user.pet_name %><br>
Pet Age: <%= @user.pet_age %><br>
Pet Bio: <%= @user.pet_bio %><br>
Pet Pic: <%= image_tag @user.pet_pic %>
