<h2><%= @user.username %></h2>
<%= @user.email %>
<%= @user.location %>
<%= @user.pet_name %>
<%= @user.pet_age %>
<%= @user.pet_bio %>
<% @user.pet_pic.each do |pic| %>
  <%= image_tag pic.variant(resize: "500x500") %>
<% end %>
